.w {
    width: 1500px;
    height: 100px;
    position: relative;
    animation: mymove 12s infinite;
    animation-delay: 1s;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    color: #04355d;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 1500px;}
  }
  .imgc{
    width: 1500px;
    margin-left: 5px;
    height: 450px;
}