.w {
    width: 1500px;
    height: 100px;
  
    position: relative;
    animation: mymove 8s infinite;
    animation-delay: 0.5s;
    font-weight: bold;
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 35px;
    color: #04355d;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 1000px;}
  }

.carousel,
.slide{
  width: 100%;
  margin: 100px auto;
  margin-bottom: 20px;
  
}
.carousel img {
  border-radius: 20px;
  height: 844px;
}